<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Phân loại hình ảnh</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">AI Platform</a>
    </div>
</nav>

<div class="container">
    <h1>Phân loại hình ảnh</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-4">
                <h5>Kiến trúc</h5>
                <select class="form-select" id="kien-truc" name="model">
                    <option selected value="Scratch">NanoCNN</option>
                    {%for model in structs['models']%}
                    <option value="{{model}}">{{model}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col-4">
                <h5>Số lượng nhãn</h5>
                <input class="form-control" type="number" value="2" name="num-classes"/>
            </div>
            <div class="col-4">
                <h5>Tunner</h5>
                <select class="form-select" id="tunner" name="tunner">
                    <option value="0" selected>Không</option>
                    <option value="1">Có</option>
                </select>
            </div>
            <div class="col-4">
                <h5>Augumentation</h5>
                <select class="form-select" id="aug" name="aug">
                    <option value="0" selected>Không</option>
                    <option value="1">Có</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h5>Kích thước hình ảnh</h5>
                <div class="row">
                    <div class="col-4">
                        <input type="number" class="form-control" value="224" id="img-size-with" name="width"/>
                    </div>
                    X
                    <div class="col-4">
                        <input type="number" class="form-control" value="224" id="img-size-height" name="height"/>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <h5>Optimizes</h5>
                <select
                        class="form-select col-1"
                        id="optimizes"
                        name="optimize"
                >

                    <option selected value="Adam">Tự động</option>
                    {%for optimize in structs['optimizes']%}
                    <option value="{{optimize}}">{{optimize}}</option>
                    {%endfor%}
                    <option value="1">SGD</option>
                </select>
            </div>
            <div class="col-3">
                <h5>Losses</h5>
                <select
                        class="form-select col-1"
                        id="losses"
                        name="loss"
                >
                    <option value="CategoricalCrossentropy" selected>Tự động</option>
                    {%for loss in structs['losses']%}
                    <option value="{{loss}}">{{loss}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="col-3">
                <h5>Số lần huấn luyện</h5>
                <div class="row">
                    <input type="number" class="form-control" value="50" id="epochs" name="epochs"/>
                </div>
            </div>
            <div class="col-3">

                <h5>Export model</h5>
                <select class="form-select" name="model_type">
                    <option value="tf" selected>Tensorflow</option>
                    <option value="lite">Tensorflow lite</option>
                    <option value="onnx">ONXX</option>
                    <option value="torch">Pytorch</option>
                    <option value="ncnn">NCNN</option>
                </select>

            </div>
        </div>
        <h5>Fully connected</h5>
        <div class="row">
            <div class="col-4">
                <h6>Layers</h6>
                <select class="form-select" id="layers">
                    <option selected>Tự động</option>
                    {%for layer in structs['layers']%}
                    <option value="{{layer}}">{{layer}}</option>
                    {%endfor%}
                </select>
                <button type="button" class="btn btn-warning" onclick="addParameter()">Thêm</button>
            </div>
            <div class="col-4">
                <h6>Params</h6>
                <label>
                    <input class="form-control" type="text" id="params"/>
                </label>
            </div>
            <div class="col-4">
                <table class="table" id="params-table">
                    <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Layer</th>
                        <th scope="col">Param</th>

                    </tr>
                    </thead>
                    <tbody id="param_list">
                    <tr>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>File <input type="file" name="file" class="form-control"/></p>
        <p>
            <input type="submit" value="Huấn luyện" class="btn btn-primary"/>
        </p>
    </form>
    {% if structs['evaluate']%}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Accuracy</th>
            <th scope="col">Precision</th>
            <th scope="col">Recall</th>
            <th scope="col">f1_Score</th>
            <th scope="col">Roc</th>
            <th scope="col">Specificity</th>
            <th scope="col">Sensitivity</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td>{{structs['evaluate'][0]}}</td>
            <td>{{structs['evaluate'][1]}}}</td>
            <td>{{structs['evaluate'][2]}}</td>
            <td>{{structs['evaluate'][3]}}</td>
            <td>{{structs['evaluate'][4]}}</td>
            <td>{{structs['evaluate'][5]}}</td>
            <td>{{structs['evaluate'][6]}}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{structs['file_export']}}" class="btn btn-danger">Download model</a>
    {% endif %}
</div>
</body>
<script type="text/javascript">
    const layers = new Array()

    function addParameter() {
        layer = document.getElementById('layers').value;
        param = document.getElementById('params').value;
        layers.push({"layer": layer, "param": param});
        html = ''
        for (var i = 0; i < layers.length; i++) {
            html += `
            <tr>
                        <th scope="row">${i + 1}</th>
                        <td>${layers[i].layer}</td>
                        <td>(${layers[i].param})</td>
                    </tr>
            `
        }
        document.getElementById('param_list').innerHTML = html

    }
</script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
></script>
</html>
