<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Phân loại</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">AI Platform</a>
      </div>
    </nav>

    <div class="container">
      <h1>Vui lòng chọn</h1>
      <div class="card-group">
        <div class="card">
          <img
            src="../../static/classify.png"
            class="card-img-top"
            alt="..."
            height="400"
          />
          <div class="card-body">
            <h5 class="card-title">Bảng</h5>
            <p class="card-text">
              Huấn luyện các mô hình Deep learning, Machine Learning phân loại dạng bảng
            </p>
            <a href="" class="btn btn-primary">Gét gô</a>
          </div>
        </div>
        <div class="card">
          <img
            src="../../static/original.png"
            class="card-img-top"
            alt="..."
            height="400"
          />
          <div class="card-body">
            <h5 class="card-title">Hình ảnh</h5>
            <p class="card-text">
              Huấn luyện các mô hình Deep learning phân loại hình ảnh
            </p>
            <a href="" class="btn btn-primary">Gét gô</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
